* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: aliceblue;
}

body {
    font-family: "Roboto Mono", monospace;
}

.navbar > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    position: relative;
    padding: 1rem;
    background-color: black;
    border-bottom: 1px solid aliceblue;
}

.navbar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
}

.hero-section {
    border: 1px solid aliceblue;
    margin: 5rem 10rem;
    padding: 8rem 5rem;
    block-size: 20rem 10rem;
    display: flex;
    justify-content: space-evenly;
}

.hero-section > .hero-text > h1{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-section > .hero-text > p {
    font-size: 2rem;
    margin-top: 2rem;
}

.hero-section > .hero-image > img {
    width: 20rem; 
    height: 20rem; 
    border-radius: 50%; 
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

#about, #journey, #portfolio, #contact {
    padding: 0rem 10rem;
}

#about > h2 {
    display: flex;
    justify-content: center;
}

#about > p {
    padding: 1rem 0;
}

#contact > h2 {
    display: flex;
    justify-content: center;
}

#contact a {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

#contact a img {
    width: 300px;
    height: 300px;
}

main h2 {
    display: flex;
    justify-content: center;
}


footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
